/* Reset some default styles */
body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
  }
  
  header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1rem;
  }
  
  nav ul {
    list-style: none;
  }
  
  nav ul li {
    display: inline;
    margin-right: 20px;
  }
  
  nav ul li a {
    text-decoration: none;
    color: white;
  }
  
  .content {
    padding: 2rem;
  }
  
  .plan {
    border: 1px solid #ccc;
    padding: 1rem;
    margin: 1rem;
  }

  #paymentForm{
    border:2px solid white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: #ccc;
  }
  
  footer {
    text-align: center;
    padding: 1rem;
    background-color: #333;
    color: white;
  }
  